.footer {
    padding: 69px 0 90px;
    border-top: 1px solid #dfdfdf;
    text-align: center;
    .main-nav {
        display: block;
        a {
            color: #333333;
        }
    }
    p {
        font: 13px 'Droid Sans', sans-serif;
        color: $h2-color;
        letter-spacing: 0.65px;
    }
}

