.arrow {
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 0;
    list-style: none;
    text-align: right;
    li {
        display: inline-block;
        a {
            display: flex;
            align-items: center;
            width: 35px;
            height: 35px;
            background: $red-color;
            color: #fff;
            .fa-angle-right, .fa-angle-left {
                margin: 0 auto;
                font-size: 24px;
            }
        }
    }
}